
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(:root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-patch;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(roo) {
  z-index: 1;
  animation: none !important;
}