.word-scroller {
    width: 100%;
    position: relative;
    overflow: visible;
  }
  
  .word-scroller section:first-of-type {
    --font-level: 6;
    display: flex;
    line-height: 1.25;
    width: 100%;
    padding-left: 5rem;
    min-height: 100vh; 
    position: relative;
  }
  
  .word-scroller section:last-of-type {
    min-height: 100vh;
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .word-scroller h2 {
    position: sticky;
    top: calc(50vh - 0.5em);
    font-size: inherit;
    margin: 0;
    display: inline-block;
    height: fit-content;
    font-weight: 600;
    background: linear-gradient(
      canvasText 50%,
      color-mix(in oklch, canvas, canvasText 25%)
    );
    background-clip: text;
    color: transparent;
  }
  
  .word-scroller ul {
    font-weight: 600;
    padding-inline: 0;
    margin: 0;
    list-style-type: none;
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }
  
  .word-scroller li {
    padding: 1rem 0;
    margin: 1rem 0;
    min-height: 3rem;
  }
  
  .word-scroller li:not(:last-of-type) {
    color: oklch(
      var(--lightness, 65%) var(--base-chroma, 0.3)
        calc(var(--start, 0) + (var(--step) * var(--i, 0)))
    );
  }
  
  .word-scroller li.last-word {
    background: linear-gradient(
      canvasText 50%,
      color-mix(in oklch, canvas, canvasText 25%)
    );
    background-clip: text;
    color: transparent;
  }
  
  .coming-soon-badge {
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 0.6rem;
    padding: 0.2rem 0.4rem;
  }
  
  .fluid {
    --font-size-min: 14;
    --font-size-max: 20;
    --font-ratio-min: 1.1;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * 100vw),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }
  
  [data-debug='true'] li {
    outline: 0.05em dashed currentColor;
  }
  
  [data-debug='true'] h2 {
    outline: 0.05em dashed canvasText;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }