.wordScroller {
  width: 100%;
  --start: 0;
  --end: 360;
  --lightness: 65%;
  --base-chroma: 0.3;
}

/* Effect */
.wordScroller ul {
  --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  font-weight: 600;
  padding-inline: 0;
  margin: 0;
  list-style-type: none;
}

.wordScroller li:not(:last-of-type) {
  color: oklch(var(--lightness) var(--base-chroma) calc(var(--start) + (var(--step) * var(--i))));
}

/* Stick */
.wordScroller section:first-of-type {
  --font-level: 6;
  display: flex;
  line-height: 1.25;
  width: 100%;
  padding-left: 5rem;
}

.wordScroller section:last-of-type {
  min-height: 100vh;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
}

.wordScroller section:last-of-type h2 {
  --font-level: 6;
}

.wordScroller section:first-of-type h2 {
  position: sticky;
  top: calc(50% - 0.5lh);
  font-size: inherit;
  margin: 0;
  display: inline-block;
  height: fit-content;
  font-weight: 600;
}

.wordScroller h2,
.wordScroller li:last-of-type {
  background: linear-gradient(canvasText 50%, color-mix(in oklch, canvas, canvasText 25%));
  background-clip: text;
  color: #0000;
}

/* Base */
.fluid {
  --font-size-min: 14;
  --font-size-max: 20;
  --font-ratio-min: 1.1;
  --font-ratio-max: 1.33;
  --font-width-min: 375;
  --font-width-max: 1500;
  --fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0)));
  --fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0)));
  --fluid-preferred: calc(
    (var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min))
  );
  --fluid-type: clamp(
    (var(--fluid-min) / 16) * 1rem,
    ((var(--fluid-min) / 16) * 1rem) -
      (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
      (var(--fluid-preferred) * var(--variable-unit, 100vi)),
    (var(--fluid-max) / 16) * 1rem
  );
  font-size: var(--fluid-type);
}

.wordScroller *,
.wordScroller *:after,
.wordScroller *:before {
  box-sizing: border-box;
}

/* Badges */
.comingSoonBadge {
  position: absolute;
  top: 0;
  right: -3rem;
  font-size: 0.6rem;
  padding: 0.15rem 0.4rem;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .wordScroller section:first-of-type {
    padding-left: 1rem;
  }

  .coming-soon-badge {
    right: -1.5rem;
    font-size: 0.5rem;
  }
}

/* Supports tag for view timelines */
@supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
  .wordScroller ul {
    view-timeline: --list;
  }
}
